@charset 'utf-8';// 不加这行，文件中有中文时会报错
@import "var";

.banner {
	position: relative;
	width: $width;
	text-align: center;
	background-color: $orange;
	img {
		display: block;
		margin: 0 auto;
		width: 1200px;
	}
}

@media screen and (max-width: 1200px) {
	.banner {
		img {
			width: $width;
		}
	}
}

content {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 1150px;
	box-sizing: border-box;
	div {
		margin: 0 auto;
		width: 1200px;
  	height: 50px;
  	box-sizing: border-box;
  	line-height: 50px;
  	align-items: center;
	}
	img {
		float: left;
    margin-left: 20px;
    width: 140px;
	}
}

.introduce {
    width: $width;
    line-height: 25px;
}

.content_list {
	padding: 0;
	width: 300px;
	height: 700px;
	border: 1px solid #EEEDED;
  	border-radius: 6px;
	background-color: $white;
	div {
		width: 300px;
		height: 60px;
		border-bottom: 1px solid #E6E6E6;
		line-height: 60px;
		font-size: 16px;
		font-weight: 1000;
		text-align: center;
	}
	ul {
    	margin: 0 auto;
		padding: 20px 0 0 30px;
    	width: 100px;
		color: $green;
		box-sizing: border-box;
		li {
    		margin: 34px 0;
			width: 70px;
    		height: 16px;
    		line-height: 16px;
			list-style-type: none;
			list-style-image: url(../images/li-circle.png);
		}
	}
}
.content_main {
  width: 870px;
  height: 1000px;
  border: 1px solid #EEEDED;
  border-radius: 6px;
  color: #999;
  background-color: $white;
  div {
		margin-bottom: 23px;
    	padding: 20px 60px;
		width: 870px;
		height: 150px;
		border-bottom: 1px solid #E6E6E6;
	}
}
.content_main_text {
	padding: 13px 70px;
	width: 870px;
	box-sizing: border-box;
	line-height: 25px;
}

a:link {
	color: $green;
	text-decoration:none;
}
a:visited {
	color: $green;
	text-decoration:none;
}
a:hover li{
	color: #FF650E;
  text-decoration: none;
  list-style-type: none;
  list-style-image: url(../images/li-disc.png);
}
a:focus li{
	color: #FF650E;
  text-decoration: none;
  list-style-type: none;
  list-style-image: url(../images/li-disc.png);
}

@media screen and (max-width:1200px) {
	content {
		width: $width;
		height: auto;
		margin: 0 auto 50px;
		padding: 0 15px;
		overflow: hidden;
		div {
			width: 100vw;
		}
	}
	.content_list {
		width: 30%;
		div {
			width: $width;
		}
	}
	.content_main {
		width: 68%;
		height: auto;
		div {
			width: $width;
			height: auto;
			padding: 3% 8%;
			overflow: auto;
		}
	}
	.content_main_text {
		width: $width;
		padding: 3% 8%;
	}
	.introduce {
		width: $width;
	}
}
@media screen and (max-width: 500px) {
	.content_list {
		width: $width;
		margin-bottom: 30px;
	}
	.content_main {
		width: $width;
		height: auto;
	}
}