@charset 'utf-8';// 不加这行，文件中有中文时会报错
@import "var";

//基础公共样式

.sprite {
	background-image: url(../images/sprite.png);
}

body {
  	background-color: #fafafa;
}

header {
  	position: relative;
  	height: 30px;
  	color: $green;
  	background-color: $white;
  	.icon_weixin {
		background-position: 0 58px;
  	}
  	.icon_qq {
		background-position: 0 29px;
  	}
  	.icon_weibo {
		background-position: 38px 58px;
  	}
}
.header_tel {
	display: inline;
	line-height: 30px;
	color: $green;
}
.header_icon {
	float: right;
	margin: 0 6px;
	width: 30px;
	height: 30px;
}
nav {
	position: relative;
	height: auto;
	background-color: $green;
}
.logo {
	float: left;
	width: 107px;
	padding: 16px 0;
}
.nav_btn {
	float: right;
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
	line-height: 80px;
	color: $white;
}
a:hover .nav_btn{
	border-style: solid;
    border-width: 0 0 3px 0;
    border-color: $white;
}
a:focus .nav_btn{
	border-style: solid;
    border-width: 0 0 3px 0;
    border-color: $white;
}
//汉堡菜单
.nav-dropdown-btn {
	float: right;
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #66CD99;
}

.nav-dropdown {
	display: none;
	position: relative;
	width: $width;
	height: 160px;
	background-color: #29B078;
	color: $white;
	text-align: center;
}
.nav-dropdown:hover {
	display: block;
}
.nav-dropdown:focus {
	display: block;
}
.nav-dropdown-menu {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #29B078;
	color: $white;
	font-size: 16px;
	line-height: 40px;
	p {
		width: 65px;
    	height: 40px;
		margin: 0;
    	padding-top: 3px;
    	box-sizing: border-box;
	}
}
a:hover .nav-dropdown-menu {
	background-color: #66CD99;
	text-decoration: none;
}
a:focus .nav-dropdown-menu {
	background-color: #66CD99;
	text-decoration: none;
}
a:hover .nav-dropdown-menu > p {
    border-bottom: 3px solid $white;
}
a:focus .nav-dropdown-menu > p {
    border-bottom: 3px solid $white;
}
#nav-default {
	margin: 0;
    border-bottom: 3px solid $white;
}
.nav-dropdown a {
	color: $white;
	text-decoration: none;
}
.dropdown_btn {
	display: none;
	position: absolute;
	right: 15px;
	top: 20px;
	float: right;
	padding: 0;
	width: 40px;
	height: 40px;
    border: none;
    border-radius: 5px;
	background-color: #222;
		&:hover .nav-dropdown-btn {
			display: block;
			background-color: #2E8B57;
	}
		&:focus .nav-dropdown-btn {
			display: block;
			background-color: #2E8B57;
	}
		&:focus + .nav-dropdown {
			display: block;
			background-color: #555;
	}
}
@media screen and (max-width: 624px) {
	.dropdown_btn {
    	display: inline-block;
	}
	.nav_btn {
		display: none;
	}
}
//new hbg-menu
.drop-menu-hbg{
    text-align: center;
    line-height: 40px;
}
label{
    display: none;
	img {
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #66CD99;
	}
}
#toggle{
    display:none;
}
.dropmenu a{
    width: 100%;
    background-color: #29B078;
    text-decoration: none;
    color: #fff!important;
}
.dropmenu{
	display: none;
    margin: 0 30px 0 0;
}
@media screen and (max-width: 624px) {
	//new dropmenu
	label{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .dropmenu{
        width: 100%;
        display: none;
        text-align: center;
    }
    .dropmenu a{
        display: block;
        clear:right;
    }
    #toggle:checked + .dropmenu{ 
        transition:all 0.4s ease-in;
        display: block;
    }
}
//页尾
footer {
	position: relative;
	padding-top: 20px;
	color: $white;
	background-color: $green;
	p {
		display: inline-block;
		color: $white;
		font-size: 14px;
	}
	a:hover p {
		text-decoration: underline;
	}
}
.footer_content_left {
    padding-top: 5px;
    width: 250px;
    line-height: 24px;
}
.footer_content_right {
	width: 210px;
    line-height: 30px;
}
.footer_wx {
	width: 160px;
	font-size: 16px;
	text-align: center;
}
.line {
	height: 18px;
    line-height: 18px;
	border-left: 1px solid $white;
	display: inline-block;
	margin-left: -1px;
	padding: 0px 4px 0px 6px;
}
.footer_blank {
	padding-right: 4px;
}
.img_QR {
	margin: 3px 1px 0 0;
	width: 90px;
}
.footer_title {
	font-size: 16px;
}
.footer-text {
	margin-bottom: 54px;
}
.footer_copyright {
	width: $width;
	height: 25px;
	color: $white;
	border-top: 1px solid #32C086;
	box-sizing: border-box;
	line-height: 22px;
	text-align: center;
	overflow-x: hidden;
	p {
		margin: 0;
	}
}
.hidden {
	display: inline-block;
}

@media screen and (max-width:650px) {
	footer div {
		height: auto;
	}
	.footer-text {
		margin-bottom: 20px;
	}
	.footer_content_left {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	.footer_content_right {
		float: none;
		width: 160px;
		margin: 0 auto;
		text-align: center;
	}
	.footer_sm_p {
		margin: 0;
	}
	.footer_wx {
		float: none;
		margin: 6px auto 0;
		text-align: center;
	}
	.footer_copyright {
		height: auto;
	}
	.footer_blank,.line {
		display: block;
		padding: 0;
		border-left: none;
	}
	.line {
		margin-left: 0;
	}
	.footer_title,.footer_sm_p {
		display: block;
	}
	.hidden {
		display: none;
	}
}