@charset 'utf-8';// 不加这行，文件中有中文时会报错
@import "var";

.main-content-advantage {
	position: relative;
	margin: 100px auto;
	padding: 10px 0;
	width: 1200px;
	height: 265px;
	span {
    	float: left;
    	width: 222px;
    	height: 265px;
    	box-sizing: border-box;
		text-align: center;
	}
}
.main-icon1 {
	margin: 35px auto;
    width: 44px;
    height: 64px;
}
.main-icon2 {
	margin: 42px auto;
    width: 61px;
    height: 50px;
}
.main-icon3 {
	margin: 39.5px auto;
    width: 52px;
    height: 55px;
}
#grayline {
    float: left;
	margin: 0 40px;
  	width: 1px;
    height: 265px;
  	border-left: 1px dashed #DEDEDE;
}
.main-amount {
  	float: left;
	padding: 60px 0;
   	width: 222px;
  	height: inherit;
	font-size: 18px;
	color: #999;
	img {
  		width: 15px;
  		height: 13px;
		vertical-align: baseline;
	}
}
.normal-text {
	font-size: 14px;
	color: #999!important;
	text-align: left;
}

#strong-text {
	font-size: 18px;
	font-weight: bold;
    text-align: center;
    color: #000!important;
}

#green-text {
  font-size: 18px;
  color: #26A26F
}
.blank {
  	margin-right: 105px;
}
@media screen and (max-width:1200px) and (min-width:624px) {
	.main-content-advantage {
		width: $width;
		span {
			padding: 0 12%;
			width: $width / 2;
		}
	}
	.blank {
		margin-right: 0;
	}
	#grayline {
		margin: 0 3% 0 15%;
	}
	.main-amount {
		width: $width / 4;
	}
}
@media screen and (max-width: 624px) {
	.main-content-advantage {
		width: $width;
		span {
			padding: 0 12%;
			width: $width;
		}
	}
	#grayline {
		display: none;
	}
	.main-amount {
		width: $width;
		text-align: center;
	}
	
}

.main-subnav {
	position: relative;
	margin: 25px auto;
    padding-top: 15px;
  	height: 30px;
  	text-align: center;
}

.main-content-step {
  	position: relative;
  	margin: 50px auto 90px;
  	width: 1200px;
  	height: 72px;
}

.main-content-step-circle {
	float: left;
	margin-right: 20px;
  	width: 72px;
  	height: 72px;
  	line-height: 72px;
  	border: 1px solid #E2E2E2;
 	border-radius: 36px;
	box-sizing: border-box;
	text-align: center;
	color: #29B078;
	font-weight: bold;
	background-color: #FFF;
}

.main-content-step-text {
	display: table;
  	float: left;
  	width: 151px;
  	height: 72px;
  	line-height: 30px;
  	p {
  		margin: 0;
  	}
}

.main-text-middle {
	display: table-cell;
	vertical-align: middle;
}

.main-content-step-arrow {
	float: left;
	margin: 23.5px 24px;
	width: 28px;
	height: 25px;
}
@media screen and (max-width: 1200px) {
	.main-content-step {
		margin: 0;
		width: $width;
		height: auto;
		overflow: hidden;
	}
	.main-content-step-arrow {
		display: none;
	}
}
@media screen and (max-width: 1200px) and (min-width: 624px) {
	.main-content-step-circle {
		margin: 1vw 5vw;
		width: 10vw;
		height: 10vw;
		line-height: 10vw;
		border-radius: 5vw;
	}

	.main-content-step-arrow {
		display: none;
	}

	.main-content-step-text {
		display: flex;
		margin: 1vw 0;
		width: 27vw;
		height: 10vw;
    	justify-content: space-around;
    	flex-direction: column;
	}
}
@media screen and (max-width: 624px) {
	.main-content-step-circle {
		margin: 2vw 10vw;
		width: 20vw;
		height: 20vw;
		line-height: 20vw;
		border-radius: 10vw;
	}
	.main-content-step-text {
		display: flex;
		margin: 2vw 0;
		width: 50%;
		height: 20vw;
    	justify-content: space-around;
    	flex-direction: column;
	}
}

.main-content-support {
	position: relative;
	margin: 72px auto;
	width: 1200px;
	height: 370px;
}

.main-content-support div {
	float: left;
	padding: 20px 32px;
	width: 272px;
	height: 370px;
  	border: 1px solid #EEEDED;
  	border-radius: 5px;
  	box-sizing: border-box;
  	line-height: 24px;
	text-align: center;
	background-color: #FFF;
}

.main-content-support a:hover div{
	box-shadow: 0px 0px 8px 0px #999!important;
	color: inherit!important;
}

.main-content-support a:focus div{
	box-shadow: 0px 0px 8px 0px #999!important;
	color: inherit!important;
}

.main-content-support span {
	float: left;
	width: 37px;
	height: inherit;
}

.main-content-support-circle {
	width: 13px;
	height: 13px;
  	border: 1px solid #EEEDED;
  	border-radius: 6.5px;
	background-color: #FFF;
}

a:focus .main-content-support-circle {
	border: none;
	background-color: #29B078;
}

a:hover .main-content-support-circle {
	border: none;
	background-color: #29B078;
}

.main-content-support img {
	margin: 0 auto 25px;
	width: 108px;
	height: 109px;
}

.main-content-support p {
	margin-top: 10px;
}

@media screen and (max-width: 1200px) {
	.main-content-support {
		width: $width;
		height: auto;
		overflow: hidden;
	}
}
@media screen and (max-width: 1200px) and (min-width: 624px) {
	.main-content-support {
		div {
			margin: 5% 6%;
			width: 38%;
		}
	}
}
@media screen and (max-width: 624px) {
	.main-content-support {
		div {
			margin: 5% 5%;
			width: 90%;
		}
	}
}

.main-content-cooperation {
	position: relative;
	margin: 66px auto 90px;
	width: 1200px;
	border: 1px solid #EEEDED;
	box-sizing: border-box;
	overflow: hidden;
	background-color: #FFF;
	img {
		width: $width;
		vertical-align: middle;
	}
}

.main-content-cooperation button {
	width: 236.49px;
    height: 175.69px;
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	background-color: #FFF;
}

.main-content-cooperation button:hover {
	box-shadow: 0px 3px 6px 1px #999;
}

.main-content-cooperation div{
	margin: 3px 0;
	padding: 0 15px;
	width: 20%;
	box-sizing: border-box;
}
.main-content-cooperation div:hover {
    box-shadow: 0px 3px 6px 1px #999;
}

.main-content-cooperation-icon1 {
	background-image: url(images/alibaba.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.main-content-cooperation-icon2 {
	background-image: url(images/jinshanyun.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.main-content-cooperation-icon3 {
	background-image: url(images/huanxin.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.main-content-cooperation-icon4 {
	background-image: url(images/ronglian.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.main-content-cooperation-icon5 {
	background-image: url(images/qiniu.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
	.main-content-cooperation {
   		width: $width - 10%;
	}
}
@media screen and (max-width: 900px) and (min-width: 425px) {
	.main-content-cooperation div {
    	display: block;
    	float: none;
    	margin: 6px auto;
    	width: $width / 2;
    	min-width: 300px;
	}
}
@media screen and (max-width: 425px) {
	.main-content-cooperation div {
    	width: $width;
	}
}

.main-connector-bg {
	position: relative;
	padding-bottom: 20px;
	width: 100vw;
	height: 120px;
	background-color: #FFF;
}

.main-connector {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 30px;
}

.main-connector ul {
	display: inline-block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

.main-connector li {
	float: left;
    width: 10%;
    font-size: 14px;
    color: #999;
    text-align: center;
    list-style: none;
}


.main-connector li p::before {
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 4px;
    height: 4px;
    margin-right: 8px;
    border-radius: 50%;
    text-indent: 1.5px;
    line-height: 1;
    background-color: #999;
}
@media screen and (max-width: 1200px) {
	.main-connector-bg {
    	height: auto;
    	overflow: hidden;
	}
	.main-connector {
		width: $width;
		height: auto;
		overflow: hidden;
	}
}
@media screen and (max-width: 1024px) and (min-width: 425px) {
	.main-connector li {
    	width: 20%;
	}
}
@media screen and (max-width: 425px) {
	.main-connector li {
    	width: 50%;
	}
}
