@charset 'utf-8';// 不加这行，文件中有中文时会报错
@import "var";

//公用样式


//混合器
@mixin greyborder {
  border: 1px solid $frenchgrey;
  box-sizing: border-box;
}
@mixin greyborder-top {
  border-top: 1px solid $frenchgrey;
}
@mixin greyborder-bot {
  border-bottom: 1px solid $frenchgrey;
}
@mixin greyborder-left {
  border-left: 1px solid $frenchgrey;
}
@mixin greyborder-right {
  border-right: 1px solid $frenchgrey;
}

//左右border
.border-right {
  @include greyborder-right;
}
.border-left {
  @include greyborder-left;
}

//字体颜色
.red-text {
  color: $red;
}

.blue-text {
  color: $blue;
}

.grey-text {
  color: $grey;
}

.deepgrey-text {
  color: $deepgrey;
}

.white-text {
  color: $white;
}

.black-text {
  color: $black;
}

.deepblack-text {
  color: $deepblack;
}

.orange-text {
  color: $orange;
}

.yellow-text {
  color: $yellow;
}

//字体大小 
.font-lg {
    font-size: $font-size + 2;
}
.font-nm {
    font-size: $font-size;
}
.font-sm {
    font-size: $font-size - 2;
}

//浮动
.left {
  float: left;
}
.right {
  float: right;
}
.clearfloat {
  clear: both;
}


//水平居中
.setmiddle {
  margin: 0 auto;
}

//垂直水平居中
.setcenter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

//
.setwidth {
  width: 1200px;
}