@charset 'utf-8';// 不加这行，文件中有中文时会报错

//重置默认样式
body {
  margin: 0;
}

p {
  display: inline-block;
  margin: 0 0 10px;
}

a {
  text-decoration: none;
  outline: none;
  &:hover {
    text-decoration: none;
    outline: none;
  }
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

button {
  padding: 0;
  border: none;
  outline: none!important;
}