@charset 'utf-8';

//变量
$width: 100%;

$font-size : 16px;

//颜色变量
$blue : #29bde0;

$frenchblue : #69d1e9;

$orange : #f1a750;

$blue-grey : #b9e9f5;

$deepgrey : #9a9a9a;

$red : #f66f6f;

$grey : #c9c9c9;

$frenchgrey : #e1e5e7;

$littlegrey : #f0f0f0;

$white : #fff;

$yellow : #ffc865;

$black : #787878;

$deepblack : #464646;

$green : #29B078;